<!DOCTYPE html>
<html>
<head>
  <title>Testdemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'owl.carousel' %>
        <%= stylesheet_link_tag    'owl.theme' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<%= render 'shared/navbar'%>
<%= yield %>


</body>
</html>
